@font-face {
  font-family: "hiFont"; /* Project id 1454976 */
  src: url('iconfont.woff2?t=1628084520910') format('woff2'),
       url('iconfont.woff?t=1628084520910') format('woff'),
       url('iconfont.ttf?t=1628084520910') format('truetype');
}

.hiFont {
  font-family: "hiFont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-second:before {
  content: "\e6a0";
}

.hi-third:before {
  content: "\e6a1";
}

.hi-first:before {
  content: "\e6a2";
}

.hi-jiangpaipaiming:before {
  content: "\e628";
}

.hi-wushuju:before {
  content: "\e65a";
}

.hi-tousujianyi:before {
  content: "\e6cb";
}

.hi-tixing1:before {
  content: "\e60e";
}

.hi-tixing:before {
  content: "\e716";
}

.hi-jiaoseguanli:before {
  content: "\e69f";
}

.hi-jiaoseguanli1:before {
  content: "\e657";
}

.hi-liucheng:before {
  content: "\e610";
}

.hi-shenhe7:before {
  content: "\e69e";
}

.hi-liuchengshezhi:before {
  content: "\e637";
}

.hi-effi:before {
  content: "\e655";
}

.hi-quality:before {
  content: "\e656";
}

.hi-score:before {
  content: "\e60b";
}

.hi-to-top:before {
  content: "\e60a";
}

.hi-to-bottom:before {
  content: "\e61d";
}

.hi-receive:before {
  content: "\e6e9";
}

.hi-micro-o:before {
  content: "\e600";
}

.hi-micro:before {
  content: "\e78b";
}

.hi-keyboard:before {
  content: "\e995";
}

.hi-home:before {
  content: "\e629";
}

.hi-achievement:before {
  content: "\e64a";
}

.hi-achievements:before {
  content: "\e64f";
}

.hi-edit:before {
  content: "\e603";
}

.hi-money-copy:before {
  content: "\e60d";
}

.hi-cooperation-end:before {
  content: "\e649";
}

.hi-task-cancel:before {
  content: "\e987";
}

.hi-cooperation:before {
  content: "\e6b8";
}

.hi-refresh:before {
  content: "\e60c";
}

.hi-progress:before {
  content: "\e71e";
}

.hi-question:before {
  content: "\e648";
}

.hi-vol-0:before {
  content: "\e61b";
}

.hi-vol-2:before {
  content: "\e66a";
}

.hi-vol-1:before {
  content: "\e6a8";
}

.hi-vol-3:before {
  content: "\e6a9";
}

.hi-female:before {
  content: "\e6e3";
}

.hi-male:before {
  content: "\e69d";
}

.hi-progress-bar:before {
  content: "\e61e";
}

.hi-time-go:before {
  content: "\e602";
}

.hi-ellipsis:before {
  content: "\e69c";
}

.hi-double-arrow:before {
  content: "\ec10";
}

.hi-revoke:before {
  content: "\e6f0";
}

.hi-bell-in:before {
  content: "\e636";
}

.hi-paper-plant:before {
  content: "\e69b";
}

.hi-chat:before {
  content: "\e647";
}

.hi-system:before {
  content: "\e6bf";
}

.hi-star-in:before {
  content: "\e69a";
}

.hi-close-thin:before {
  content: "\ea13";
}

.hi-password:before {
  content: "\e62c";
}

.hi-append:before {
  content: "\e699";
}

.hi-contract-model:before {
  content: "\e698";
}

.hi-user-task:before {
  content: "\e697";
}

.hi-knowledge:before {
  content: "\e684";
}

.hi-meeting:before {
  content: "\e692";
}

.hi-signout:before {
  content: "\e693";
}

.hi-punish:before {
  content: "\e694";
}

.hi-scheduling:before {
  content: "\e695";
}

.hi-calendar:before {
  content: "\e696";
}

.hi-search:before {
  content: "\e662";
}

.hi-work:before {
  content: "\e627";
}

.hi-projects:before {
  content: "\e609";
}

.hi-projects-o:before {
  content: "\e677";
}

.hi-work-o:before {
  content: "\e605";
}

.hi-enterprise:before {
  content: "\e9d3";
}

.hi-relate:before {
  content: "\e67c";
}

.hi-exception:before {
  content: "\e67d";
}

.hi-value-down:before {
  content: "\e67e";
}

.hi-value-up:before {
  content: "\e67f";
}

.hi-completed:before {
  content: "\e680";
}

.hi-in-progress:before {
  content: "\e681";
}

.hi-money:before {
  content: "\e682";
}

.hi-wallet:before {
  content: "\e683";
}

.hi-sign:before {
  content: "\e685";
}

.hi-department:before {
  content: "\e686";
}

.hi-clip:before {
  content: "\e687";
}

.hi-beizhu:before {
  content: "\e688";
}

.hi-arrow-angle-right:before {
  content: "\e689";
}

.hi-bad:before {
  content: "\e68a";
}

.hi-overtime:before {
  content: "\e68b";
}

.hi-plan:before {
  content: "\e68c";
}

.hi-plan-o:before {
  content: "\e68d";
}

.hi-sort-down:before {
  content: "\e68e";
}

.hi-bell:before {
  content: "\e68f";
}

.hi-user:before {
  content: "\e690";
}

.hi-sort-up:before {
  content: "\e691";
}

.hi-delete:before {
  content: "\e678";
}

.hi-add:before {
  content: "\e679";
}

.hi-pro-detail:before {
  content: "\e67a";
}

.hi-add-square:before {
  content: "\e67b";
}

.hi-add-circle:before {
  content: "\e676";
}

.hi-manager:before {
  content: "\e671";
}

.hi-add-pro:before {
  content: "\e672";
}

.hi-arrange-task:before {
  content: "\e673";
}

.hi-pro-screen:before {
  content: "\e674";
}

.hi-more:before {
  content: "\e675";
}

.hi-plan-task:before {
  content: "\e670";
}

.hi-thumbtack-cr:before {
  content: "\e66f";
}

.hi-send:before {
  content: "\e66d";
}

.hi-download:before {
  content: "\e66e";
}

.hi-folder:before {
  content: "\e66b";
}

.hi-profile:before {
  content: "\e66c";
}

.hi-close:before {
  content: "\e669";
}

.hi-alt:before {
  content: "\e668";
}

.hi-directory:before {
  content: "\e666";
}

.hi-task-box:before {
  content: "\e658";
}

.hi-download-lg:before {
  content: "\e664";
}

.hi-lock:before {
  content: "\e665";
}

.hi-setting:before {
  content: "\e667";
}

.hi-Notebook:before {
  content: "\e661";
}

.hi-statistic:before {
  content: "\e663";
}

.hi-contract:before {
  content: "\e65b";
}

.hi-attendance:before {
  content: "\e65c";
}

.hi-customer:before {
  content: "\e65d";
}

.hi-reviews:before {
  content: "\e65e";
}

.hi-income:before {
  content: "\e65f";
}

.hi-statistic-pie:before {
  content: "\e660";
}

.hi-quick-view:before {
  content: "\e659";
}

.hi-unread:before {
  content: "\e64e";
}

.hi-msg:before {
  content: "\e650";
}

.hi-task:before {
  content: "\e651";
}

.hi-project:before {
  content: "\e652";
}

.hi-rule:before {
  content: "\e653";
}

.hi-report:before {
  content: "\e654";
}

.hi-blt-ok-cr:before {
  content: "\e64b";
}

.hi-blt-approval-cr:before {
  content: "\e64c";
}

.hi-blt-wait-cr:before {
  content: "\e64d";
}

.hi-monitor:before {
  content: "\e645";
}

.hi-pclm:before {
  content: "\e646";
}

.hi-in-progress-cr:before {
  content: "\e63d";
}

.hi-finished-cr:before {
  content: "\e63e";
}

.hi-pause-cr:before {
  content: "\e63f";
}

.hi-revise-cr:before {
  content: "\e640";
}

.hi-stop-cr:before {
  content: "\e641";
}

.hi-extend-cr:before {
  content: "\e642";
}

.hi-undetermined:before {
  content: "\e643";
}

.hi-under-review:before {
  content: "\e644";
}

.hi-link:before {
  content: "\e63a";
}

.hi-move:before {
  content: "\e63b";
}

.hi-star:before {
  content: "\e63c";
}

.hi-note:before {
  content: "\e635";
}

.hi-review:before {
  content: "\e638";
}

.hi-priority:before {
  content: "\e632";
}

.hi-tag:before {
  content: "\e633";
}

.hi-clock:before {
  content: "\e634";
}

.hi-alarm-clock:before {
  content: "\e639";
}

.hi-user-add:before {
  content: "\e62b";
}

.hi-apply:before {
  content: "\e62d";
}

.hi-yes-lg:before {
  content: "\e601";
}

.hi-clock-cr:before {
  content: "\e604";
}

.hi-statistics-pie-cr:before {
  content: "\e606";
}

.hi-tag-cr:before {
  content: "\e607";
}

.hi-priority-cr:before {
  content: "\e608";
}

